In [20]:
import pandas as pd
from requests import get
from bs4 import BeautifulSoup as bs

In [21]:
url = "https://sn.coinafrique.com/categorie/chaussures-homme"
code_html = get(url)
soup = bs(code_html.text, 'html.parser')
containers = soup.find_all("div", class_ = "col s6 m4 l3")
len(containers)

84

In [26]:
#Recuperation de données sur un container
container = containers[0]
type_chaussures = container.find("p", class_ = "ad__card-description").text
prix= container.find("p", class_ = "ad__card-price").text.replace("CFA", "")
adresse = container.find("p", class_ = "ad__card-location").text.replace("location_on", "")
img_link =  container.find('img', class_ = "ad__card-img")['src']

# Verification 
print(type_chaussures)
print(prix)
print(adresse)
print(img_link)

Chaussures homme
13 000
Dakar Plateau, Dakar, Sénégal
https://images.coinafrique.com/thumb_2336421_uploaded_image1_1592957089.jpg

In [27]:
# scraper les données sur une page 
data = []
for container in containers: 
    try: 
        type_chaussures = container.find("p", class_ = "ad__card-description").text
        prix= container.find("p", class_ = "ad__card-price").text.replace("CFA", "")
        adresse = container.find("p", class_ = "ad__card-location").text.replace("location_on", "")
        img_link =  container.find('img', class_ = "ad__card-img")['src']
        dic = {
            'type_chaussures': type_chaussures, 
            'prix':prix, 
            'adresse': adresse,
            'img_link': img_link 
        }
        data.append(dic)
    except: 
        pass

DF = pd.DataFrame(data)

In [28]:
DF

,type_chaussures,prix,adresse,img_link
0,Chaussures homme,13 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2336421_u...
1,Chaussures Sebago,13 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2336416_u...
2,Chaussures homme,13 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2336414_u...
3,Sandales homme,5 000,"Dieuppeul-Derklé, Dakar, Sénégal",https://images.coinafrique.com/thumb_2336390_u...
4,Chaussures homme,20 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2336376_u...
...,...,...,...,...
79,Baskets Adidas Topanga,20 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2328512_u...
80,Chaussures Puma,23 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2328499_u...
81,Baskets Nike Air,20 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2328489_u...
82,Baskets Jordan,25 000,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2328478_u...
83,Mcqueen,22 500,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_2328475_u...

In [29]:
# scrapper sur tous les pages
df_ch = pd.DataFrame()
for i in range(119): 
    url = f"https://sn.coinafrique.com/categorie/chaussures-homme?page={i}"
    code_html = get(url)
    soup = bs(code_html.text, 'html.parser')
    containers = soup.find_all("div", class_ = "col s6 m4 l3")
    data = []
    for container in containers: 
        try: 
            type_chaussures = container.find("p", class_ = "ad__card-description").text
            prix= container.find("p", class_ = "ad__card-price").text.replace("CFA", "")
            adresse = container.find("p", class_ = "ad__card-location").text.replace("location_on", "")
            img_link =  container.find('img', class_ = "ad__card-img")['src']
            dic = {
                'type_chaussures': type_chaussures, 
                'prix':prix, 
                'adresse': adresse,
                'img_link': img_link 
            }
            data.append(dic)
        except: 
            pass

    DF = pd.DataFrame(data)
    df_ch = pd.concat([df_vet,DF], axis = 0).reset_index(drop = True)

In [30]:
df_ch.shape

(9996, 4)

In [31]:
df_ch.head()

,type_chaussures,prix,adresse,img_link
0,Sandales Zara,10 000,"Colobane, Dakar, Sénégal",https://images.coinafrique.com/thumb_5185077_u...
1,Chaussures homme Dior,20 000,"Fass, Dakar, Sénégal",https://images.coinafrique.com/thumb_5179616_u...
2,Chaussures homme,25 000,"Dakar, Sénégal",https://images.coinafrique.com/thumb_5183078_u...
3,Chaussures Parada Milano,16 000,"Colobane, Dakar, Sénégal",https://images.coinafrique.com/thumb_5177848_u...
4,Baskets Adidas,15 000,"Colobane, Dakar, Sénégal",https://images.coinafrique.com/thumb_5177843_u...